<script>
   $("[title]").tooltip({ 
        position: { my: "left+15 center", at: "right center" },
        close: function (event, ui) {
            ui.tooltip.hover(
            function () {
                $(this).stop(true).fadeTo(300, 1);
            },    
            function () {
                $(this).fadeOut("300", function () {
                    $(this).remove();
                })
            });
        } 
    });
</script>

<br />
<div class="welcome"> 
    <p class="welcome_title"><?php echo __('WELCOME_TITLE'); ?></p>
    <br />
    <p class="text_info"><?php echo __('WELCOME_MESSAGE'); ?></p>
    <br />
    <?php if($wizard) { ?>
        <p class="text_info"><?php echo __('WELCOME_FOLLOW_LINK'); ?>:</p>
        <form action="/cultibox/index.php?menu=wizard" method="post">
            <p class="p_center"><input type="submit" name="go_wizard" id="go_wizard" value="<?php echo __('WELCOME_WIZARD'); ?>"></p>
        </form>
    <?php } else { ?>
    <hr class="hr_welcome" />
    <br />
    <table class="table_width">
        <tr>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>><a href="/cultibox/index.php?menu=logs" id="welcome-log-img">
                <img src="main/libs/img/logs.png" title="<?php echo __('WELCOME_LOGS'); ?>" alt="<?php echo __('WELCOME_LOGS'); ?>" />
                <br /></a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=programs" id="welcome-prog-img"><img src="main/libs/img/program.png" title="<?php echo __('WELCOME_PROGRAM'); ?>" alt="<?php echo __('WELCOME_PROGRAM'); ?>" />
                <br />
                </a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=calendar" id="welcome-cal-img"><img src="main/libs/img/calendar.png" title="<?php echo __('WELCOME_CALENDAR'); ?>" alt="<?php echo __('WELCOME_CALENDAR'); ?>"/><br /></a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'style="display:none"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=cultipi" id="welcome-synop-img"><img src="main/libs/img/synoptic.png" title="<?php echo __('WELCOME_SYNOP'); ?>" alt="<?php echo __('WELCOME_SYNOP'); ?>"/><br /></a>
            </td>
        </tr>
        <tr>
            <td  <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=logs" id="welcome-log-txt">
                <?php echo __('WELCOME_LOGS'); ?>
                </a>
            </td>
            <td  <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>><a href="/cultibox/index.php?menu=programs" id="welcome-prog-txt">
                <?php echo __('WELCOME_PROGRAM'); ?>
                </a>
            </td>
            <td  <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'class="welcome-link"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=calendar" id="welcome-cal-txt">
                <?php echo __('WELCOME_CALENDAR'); ?>
                </a>
            </td>
            <td <?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { echo 'style="display:none"'; } else { echo 'class="welcome-linkpi"'; } ?>>
                <a href="/cultibox/index.php?menu=synoptic" id="welcome-synop-txt">
                <?php echo __('WELCOME_SYNOP'); ?>
                </a>
            </td>
        </tr>
    </table>
    <br />
    <hr class="hr_welcome" />
    <?php } ?>
</div>

<br /><div id="compat" style="display:none" class="text_info"><?php echo __('ERROR_COMPAT_BROWSER'); ?></div>

<?php if(!$wizard) { ?>
<br />
<p class="welcome_title"><?php echo __('DID_YOU_KNOW'); ?></p>
<br />

<table class="table_width">
    <tr>
        <td class="border_note_title"></td>
        <td class="title_note"><?php echo __('DOCUMENTATION'); ?></td>
        <td></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td><?php echo __('DOCUMENTATION_LINK'); ?></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td class="image_note"><a href="https://github.com/cultibox/cultibox/wiki" target="_blank"  class="note_link">https://github.com/cultibox/cultibox/wiki</a></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<br />

<table class="table_width">
    <tr>
        <td class="border_note_title"></td>
        <td class="title_note"><?php echo __('QUESTIONS'); ?></td>
        <td></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td><?php echo __('QUESTIONS_CONTENT'); ?></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td class="image_note"><a href="mailto:support@cultibox.fr" class="note_link">support@cultibox.fr</a></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<br />

<table class="table_width">
    <tr>
        <td class="border_note_title"></td>
        <td class="title_note"><?php echo __('ACCESSOIRE'); ?></td>
        <td></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td><?php echo __('ACCESSOIRE_CONTENT'); ?></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td class="image_note"><a href="http://www.cultibox.fr" target="_blank"  class="note_link">http://www.cultibox.fr</a></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<br />

<table class="table_width">
    <tr>
        <td class="border_note_title"></td>
        <td class="title_note"><?php echo __('RECYCLAGE'); ?></td>
        <td></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td><?php echo __('RECYCLAGE_CONTENT'); ?></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td class="image_note"><img src="main/libs/img/recycling.png" alt="Recyclage" /></td>
       <td class="border_note_desc"></td>
    </tr>
</table>
<br />

<table class="table_width">
    <tr>
        <td class="border_note_title"></td>
        <td class="title_note"><?php echo __('WARANTLY'); ?></td>
        <td></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td><?php echo __('WARANTLY_CONTENT'); ?></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<table class="table_width">
    <tr>
        <td class="border_note_desc"></td>
        <td class="image_note"><a href="mailto:support@cultibox.fr" class="note_link">support@cultibox.fr</a></td>
        <td class="border_note_desc"></td>
    </tr>
</table>
<?php } ?>

<?php if((!isset($GLOBALS['MODE']))||(strcmp($GLOBALS['MODE'],"cultipi")!=0)) { ?>
<button id="wifi_wizard">wifi wizard</button>
<div id="wifi_wizard_step1" style="display:none" title="Assistant de migration vers le module wifi">
    Bienvenu dans l'assistant de migration vers le module Wifi cultipii.
    Avant de commencer, assurez d'avoir à disposition:
    <ul>
        <li>Une cultibox et ses équipements</li>
        <li>Un Cultipi et ses équipements</li>
    </ul>
    Si cela est le cas, vous pouvez passer à l'étape suivante en cliquant sur le bouton associé.
</div>

<div id="wifi_wizard_step2" style="display:none" title="Assistant de migration vers le module wifi">
    Etape 2, copie du nouveau firmware pour la cultibox.
    Branchez la carte SD de votre cultibox dans votre ordinateur et passez à l'étape suivante.
</div>

<div id="wifi_wizard_step3" style="display:none" title="Assistant de migration vers le module wifi">
    Etape 3: export conf

</div>

<div id="error_wifi_sd" style="display:none">
    Pas de carte SD, branchez en une puis passez à l'étape suivante
</div>
<?php } ?>



